#ast-scroll-top {
    width: 4em;
    height: 4em;
    line-height: 4em;
    color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 20px -10px #38dbcc;
  }
  .uagb-post__text.uagb-post-grid-byline {
    padding: 10px !important;
  }
  html .entry-content p
  {
    font-size: 18px;
    font-family: "inter";
    color: #000000;
    line-height: 1.7em;
  }
  .sk-google-reviews-write-review-btn:hover {
    background: #57B5B4 !important;
  }
  .ast-separate-container .site-content .ast-single-post-featured-section + article {
    margin-top: 0;
    z-index: 9;
    position: relative;
    border-radius: 4px;
  }
  .ast-separate-container .ast-article-single {
    padding: 1em 4em 3em;
  }
  .textalignjustify {
    text-align: justify;
  }
  .borderradius10 {
    border-radius: 10px;
  }
  .wp-block-uagb-counter__title {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 16px;
  }
  .comment-form-wrapper input[type="text"]:focus, .comment-form-wrapper input[type="email"]:focus, .comment-form-wrapper textarea:focus {
    border-color: #57b5b4 !important;
    color: #57b5b4;
  }
  .ast-separate-container .comment-respond {
    padding: 0;
  }
  .wp-block-uagb-post-carousel  .attachment-large.size-large {
    position: absolute;
    margin: 0 auto;
    transform: scale(2) translatey(25%);
  }
  .wp-block-uagb-post-carousel .uagb-post__image a{
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    height: 240px;
  }
  article.uagb-post__inner-wrap .uagb-post__image {
    padding-bottom: 0;
    margin-bottom: 1em;
  }
  .techvertu-new-articles .uagb-post__inner-wrap {
      text-align: left;
    line-height: 1.3em;
  }
  .ast-separate-container .site-content .ast-single-post-featured-section + article {
    margin-top: 0;
    z-index: 9;
    position: relative;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 15px 40px -35px rgba(0, 0, 0, 0.39);
  }
  .post-thumb {
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    box-shadow: 0 20px 40px -20px #dbdff9;
    max-height: 350px;
  }
  .wp-block-uagb-icon-list.uagb-block-9e7da0ea .uagb-icon-list__label {
    text-align: justify !important;
  }
  html .entry-content ul li, html .entry-content ol li {
    font-size: 18px;
    font-family: "inter";
    color: #48484D;
    line-height: 1.9em;
  }
  .entry-content ul li, .entry-content ol li {
    list-style: none;
    padding-left: 35px;
    background-position: 0 7px;
    background-size: 1.1em;
    margin-top: 15px;
  }
  .entry-content ul li:first-child, .entry-content ol li:first-child {
    margin: 0;
  }
  .entry-meta, .entry-meta * {
    line-height: 1.45;
    color: #5e5e5e;
    letter-spacing: 4px;
    font-size: 13px;
    font-weight: 300;
  }
  p.read-more a {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #028dae;
    color: #fff;
    padding: 1em 2em;
    border-radius: 5px;
  }
  .wp-block-categories-list li span.cat-post-count {
    font-size: 14px;
    width: 2.5em;
    height: 2.5em;
    font-weight: 400;
    display: inline-block;
    background-color: rgb(249, 249, 249);
    text-align: center;
    margin-right: 10px;
    border-radius: 5px;
    color: #76778B;
    line-height: 2.3em;
  }
  ol, ul {
    margin: 0 2em 0 1em;
  }
  .social-logo {
    height: 19px;
    width: auto;
  }
  .each-social-wrapper {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #252525;
    border-radius: 50%;
    margin-left: 0px;
    padding: 0;
  }
  .social-pages {
    width: 20%;
    float: right;
    text-align: right;
    margin: -38px 0 10px;
  }
  .copyright-texts p {
    text-align: right;
    font-size: 13px;
    margin-top: 12px;
    color: #222;
    line-height: 1.8em;
  }
  .widget {
    margin: 0 0 1em 0;
  }
  .techvertu-custom-widget {
    margin-bottom: 1em;
  }
  .techvertu-post-image-wrapper {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 0;
  }
  .ast-breadcrumbs-wrapper {
    display: block;
    width: 100%;
    margin-bottom: 0em;
  }
  .wp-block-uagb-table-of-contents  .uagb-toc__list-wrap ol li, .wp-block-uagb-table-of-contents .uagb-toc__list-wrap ul li {
    padding-left: 5px;
  }
  .wp-block-uagb-table-of-contents {
    margin-bottom: 1em;
    box-shadow: 0 10px 30px -30px rgb(0, 0, 0);
    border-radius: 25px;
  }
  .wp-block-uagb-table-of-contents li.uagb-toc__list {
    padding-top: 15px;
  }
  
  html .entry-content h2, html .entry-content h3, html .entry-content h4, html .entry-content h5, html .entry-content h6, html .entry-content h7 {
  background: rgba(87,181,180,1);
  background: -moz-linear-gradient(left, rgba(87,181,180,1) 0%, rgba(2,141,174,1) 85%, rgba(2,141,174,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(87,181,180,1)), color-stop(85%, rgba(2,141,174,1)), color-stop(100%, rgba(2,141,174,1)));
  background: -webkit-linear-gradient(left, rgba(87,181,180,1) 0%, rgba(2,141,174,1) 85%, rgba(2,141,174,1) 100%);
  background: -o-linear-gradient(left, rgba(87,181,180,1) 0%, rgba(2,141,174,1) 85%, rgba(2,141,174,1) 100%);
  background: -ms-linear-gradient(left, rgba(87,181,180,1) 0%, rgba(2,141,174,1) 85%, rgba(2,141,174,1) 100%);
  background: linear-gradient(to right, rgba(87,181,180,1) 0%, rgba(2,141,174,1) 85%, rgba(2,141,174,1) 100%);
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        margin: 10px 0 7px;
  }
  html .entry-content h1, html .ast-single-post header.entry-header h1, h1  {
      font-family: 'inter';
    font-size: 36px;
      font-weight: 800;
      line-height: 1.5em;
      background: rgba(2,141,174,1);
      background: -moz-linear-gradient(left, rgba(2,141,174,1) 0%, rgba(11,64,106,1) 80%, rgba(11,64,106,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(2,141,174,1)), color-stop(80%, rgba(11,64,106,1)), color-stop(100%, rgba(11,64,106,1)));
      background: -webkit-linear-gradient(left, rgba(2,141,174,1) 0%, rgba(11,64,106,1) 80%, rgba(11,64,106,1) 100%);
      background: -o-linear-gradient(left, rgba(2,141,174,1) 0%, rgba(11,64,106,1) 80%, rgba(11,64,106,1) 100%);
      background: -ms-linear-gradient(left, rgba(2,141,174,1) 0%, rgba(11,64,106,1) 80%, rgba(11,64,106,1) 100%);
      background: linear-gradient(to right, rgba(2,141,174,1) 0%, rgba(11,64,106,1) 80%, rgba(11,64,106,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
          margin: 0;
  }
  html .entry-content h2, h2  {
      font-family: 'inter';
    font-size: 32px;
      font-weight: 700;
      line-height: 1.4em;
      margin-bottom: 0.5em;
  }
  html .entry-content h3, h3  {
      font-family: 'inter';
    font-size: 28px;
      font-weight: 600;
      line-height: 1.4em;
      margin-bottom: 0.5em;
  }
  html .entry-content h4, h4  {
      font-family: 'inter';
    font-size: 23px;
      font-weight: 500;
      line-height: 1.2em;
      margin-bottom: 0.3em;
  }
  html .entry-content h5, h5  {
      font-family: 'inter';
    font-size: 18px;
      font-weight: 400;
      line-height: 1em;
      margin-bottom: 0.3em;
  }
  html .entry-content h6, h6  {
      font-family: 'inter';
    font-size: 16px;
      font-weight: 400;
      line-height: 1em;
      margin-bottom: 0;
  }
  .sk-ww-google-reviews {
      background:transparent !important;
  }
  .sk_reviews_grid-content {
      background: rgba(255,255,255,0.5) !important;
  }